.toogleAssets {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  height: 35px;
  background: var(--teddy-box-color);
  border-radius: 8px;
  align-self: center;
  .asset {
    text-align: center;
    margin: 0;
    font-size: 14px;
    width: 50%;
    color: var(--teddy-primary-text);
    font-weight: 500;
  }
}
