.ant-notification {
  &.ant-notification-topRight {
    top: 64px !important;
    margin-right: 16px;

    .ant-notification-notice.ant-notification-fade-leave {
      animation-duration: .3s;
      animation-name: out-right;
    }
  }

  &.ant-notification-bottomRight {
    margin-right: 16px;

    .ant-notification-notice.ant-notification-fade-leave {
      animation-duration: .3s;
      animation-name: out-right;
    }
  }

  &.ant-notification-bottomLeft {
    margin-left: 16px;
    .ant-notification-notice.ant-notification-fade-leave {
      animation-duration: .3s;
      animation-name: out-left;
    }
  }

  &.ant-notification-topLeft {
    top: 64px !important;
    margin-left: 16px;
    .ant-notification-notice.ant-notification-fade-leave {
      animation-duration: .3s;
      animation-name: out-left;
    }
  }

  .ant-notification-notice {
    background: var(--ergo-default-card-background);
    border-radius: var(--ergo-border-radius-md);
  }

  .ant-notification-notice-description,
  .ant-notification-notice-message,
  .ant-notification-notice-close {
    color: var(--ergo-primary-text);
  }

  .ant-notification-notice-icon {
    &-info {
      svg {
        fill: var(--ergo-info-color);
      }
    }
    &-loading {
      svg {
        fill: var(--ergo-info-color);
      }
    }
    &-success {
      svg {
        fill: var(--ergo-success-color);
      }
    }
    &-warning {
      svg {
        fill: var(--ergo-warning-color);
      }
    }
    &-error {
      svg {
        fill: var(--ergo-error-color);
      }
    }
  }
}

@keyframes out-right {
  80% {
    transform: translateX(-5%);
  }

  to {
    transform: translateX(110%);
  }
}

@keyframes out-left {
  80% {
    transform: translateX(5%);
  }

  to {
    transform: translateX(-110%);
  }
}
