.chart-container {
  padding: 0;
  border: initial;
  background: var(--ergo-box-bg-contrast);
  border-radius: 12px;

  .ant-collapse-header {
    padding: 0 !important;
  }

  .ant-collapse-content {
    border-radius: 12px;
  }

  .ant-collapse-content {
    border: initial;
    background: var(--ergo-box-bg-contrast);
  }

  .ant-collapse-item {
    border: initial;
  }
}
