@import "../../ergodex-cdk/styles/styles";

.ergo.dark {
  --ergo-primary-color:                         @dark-color-orange-5;
  --ergo-primary-color-hover:                   @dark-color-orange-6;
  --ergo-primary-color-active:                  @dark-color-orange-4;
  --ergo-primary-text-contrast:                 @dark-color-gray-10;
}

.ergo.light {
  --ergo-primary-color:                        @light-color-orange-6;
  --ergo-primary-color-hover:                  @light-color-orange-5;
  --ergo-primary-color-active:                 @light-color-orange-7;
  --ergo-primary-text-contrast:                @light-color-gray-1;
}
