.ant-dropdown-trigger:not(.ant-btn) {
  color: var(--ergo-primary-color);

  &:hover {
    color: var(--ergo-primary-color-hover);
  }

  &:focus, &:active {
    color: var(--ergo-primary-color-active);
  }
}

.ant-dropdown-trigger[disabled] {
  color: var(--ergo-disabled-text-constrast);
}
