@import './src/assets/styles/variables/colors.less';

.ant-dropdown-menu.ant-dropdown-menu-root {
  background-color: @color-gray-1;
  border-radius: 12px;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-only-child:not(.ant-dropdown-menu-item-disabled) {
  color: @color-gray-9;

  &.ant-dropdown-menu-item-danger {
    color: @color-dust-red-6;
  }

  &:hover {
    background-color: @color-gray-3;
    border-radius: 8px;
    color: @color-orange-6;
  }
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-disabled:hover {
  background-color: transparent;
}

// Same styling but for the case when you pass component to overlay prop

.ant-menu.ant-menu-root {
  background-color: @color-gray-1;
  border-radius: 12px;
}

.ant-menu-item.ant-menu-item-only-child:not(.ant-dropdown-menu-item-disabled) {
  color: @color-gray-9;

  &.ant-menu-item-danger {
    color: @color-dust-red-6;
  }

  &:hover {
    background-color: @color-gray-3;
    border-radius: 8px;
    color: @color-orange-6;
  }
}

.ant-menu-item.ant-menu-item-disabled:hover {
  background-color: transparent;
}
