@import '~antd/dist/antd.less';

.ant-alert {
  border-radius: 8px !important;
  color: @alert-message-color !important;
  &.alert-not-border {
    border-color: transparent;
  }
}

.ant-alert-close-icon {
  position: absolute;
  right: 12px;
}
