.ant-notification-topRightBackward {
  top: 64px !important;
  margin-right: 16px;
  z-index: 10;
}

.ant-notification-notice.claim-spf {
  border-radius: 16px;
  height: 300px;
  width: 280px;
  padding: 0;

  .ant-notification-notice-message {
    padding-right: 0;
    margin: 0;
  }

  .ant-notification-notice-btn {
    display: none;
  }
}
