@import './src/assets/styles/variables/colors.less';

// Removes default bottom stroke
.ant-tabs-nav::before {
  display: none !important;
}

.ant-tabs-nav-list {
  padding: 4px;
  background-color: @color-gray-1;
  border-radius: 16px;
}

.ant-tabs-tab {
  border: 0 !important;
  border-radius: 12px !important;
}

.ant-tabs-tab-btn {
  color: @color-gray-9;

  &:hover {
    color: @color-gray-10;
  }
}

.ant-tabs-tab-active {
  background: @color-orange-5 !important;

  .ant-tabs-tab-btn {
    color: @color-gray-10 !important;
  }
}

.ant-tabs-tab.ant-tabs-tab-disabled .ant-tabs-tab-btn,
.ant-tabs-tab.ant-tabs-tab-disabled .ant-tabs-tab-btn:hover,
.ant-tabs-tab.ant-tabs-tab-disabled .ant-tabs-tab-btn:active,
.ant-tabs-tab.ant-tabs-tab-disabled .ant-tabs-tab-btn:focus {
  color: @color-gray-6;
}
