.ant-popover {
  color: var(--ergo-primary-text);

  &-arrow { display: none }

  &-inner {
    border: 1px solid var(--ergo-popover-border-color);
    background-color: var(--ergo-popover-bg-color);
    border-radius: var(--ergo-border-radius-md) !important;
    box-shadow: var(--ergo-popover-box-shadow);

    &-content {
      padding: 0;
      color: var(--ergo-primary-text);
    }
  }

  &-placement-bottom,
  &-placement-bottomLeft,
  &-placement-bottomRight {
    padding-top: 0;
  }
}
