.swapInputStyles () {
  border-color: transparent;
  background-color: var(--ergo-swap-input-bg);
  box-shadow: none !important;
}

.swap-input {
  .ant-input {
    .swapInputStyles();
    font-size: 24px;
  }

  .ant-input-affix-wrapper {
    .swapInputStyles();

    .ant-input {
      padding-left: 1px;
    }
    
    .ant-input-suffix {
      color: var(--ergo-primary-text);
    }
  }
}
