@import './src/assets/styles/variables/gradients';

.network-dropdown {
  &__btn {
    &--cardano {
      background: @gradient-cardano-dropdown !important;
    }

    &--ergo {
      background: @gradient-ergo-dropdown !important;
    }
  }

  &__content {
    display: flex !important;
    align-items: center !important;
    color: var(--ergo-networkdropdown-hover-focus-color) !important;
  }

  &__logo {
    margin-right: 8px;
  }

  &__network {
    margin-right: 8px;
  }

  &__token-icon {
    margin-right: 8px;
  }
}
