.address_list_title_wrapper {
  display: grid;
  align-items: center;
  padding: 12px 8px;
  grid-template-columns: 2fr 1fr 84px;
}

.address_list_item_wrapper {
  display: grid;
  align-items: center;
  padding: 16px 8px;
  border-top: 1px solid var(--ergo-wallet-modal-address-item-border);
  grid-template-columns: 2fr 1fr 84px;
}
