.address_wrapper {
  > *:not(:last-child) {
    margin-right: 8px;
  }
  .address {
    color: var(--ergo-wallet-modal-tab-pane-active);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }
  .anticon {
    color: var(--ergo-wallet-modal-tab-pane-active);
  }
}
