.token__list-item_wrapper {
  margin: 4px 0;
  background-color: var(--ergo-wallet-modal-token-item-wrapper-bg);
  &:hover {
    background-color: var(--ergo-wallet-modal-token-item-wrapper-bg);
  }

  .token-name {
    color: var(--ergo-wallet-modal-lbl);
  }
}
