.ant-modal-content {
  background-color: var(--ergo-modal-color);

  .wallet-modal__wrapper {
    .ergo-network_lbl {
      color: var(--ergo-wallet-modal-lbl);
    }

    .receive_address {
      margin-top: 24px;
      background-color: var(--ergo-wallet-modal-component-bg);

      .recv_addr_lbl {
        color: var(--ergo-wallet-modal-lbl);
      }
    }
    .address_tokens__tab {
      margin-top: 24px;
      background-color: var(--ergo-wallet-modal-component-bg);
    }
  }
}
