.wallet-modal-wrapper {
  .ant-modal-content {
    width: 400px;
    background-color: var(--ergo-wallet-modal-bg);
    border-radius: 16px;

    .ant-modal-header {
      border-bottom-width: 0;
      background: inherit;
      border-radius: inherit;

      .ant-modal-title {
        color: var(--ergo-wallet-modal-header);
        font-size: 20px;
        font-weight: 600;
      }
    }

    .ant-modal-close {
      position: absolute;
      top: 24px;
      right: 24px;
      color: var(--ergo-wallet-modal-header);
      span {
        width: auto;
        height: auto;
        line-height: 24px;
      }
    }

    .ant-modal-body {
      padding-top: 0;
      background: inherit;
      border-radius: inherit;

      .ergo_network_lbl {
        color: var(--ergo-wallet-modal-ergo-network-lbl);
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
      }

      .receive_address {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px;
        margin-top: 24px;
        background-color: var(--ergo-wallet-modal-recv-addr-bg);
        border-radius: 12px;
        .recv_addr_lbl {
          color: var(--ergo-wallet-modal-recv-addr-lbl);
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
        }
      }
      .address_tokens_tab {
        padding: 16px;
        margin-top: 24px;
        background-color: var(--ergo-wallet-modal-tab-bg);
        border-radius: 12px;
        .ant-tabs-tabpane.ant-tabs-tabpane-active {
          color: var(--ergo-wallet-modal-tab-pane-active);
        }
      }
    }
  }
}
