@import './src/assets/styles/variables/colors.less';

.makeTag (@text, @bg, @border) {
  border-color: @border;
  background-color: @bg;
  color: @text;
}

.ant-tag {
  padding: 1px 8px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 20px;

  &-success {
    .makeTag(
      var(--ergo-success-color),
      var(--ergo-success-bg-color),
      var(--ergo-success-border-color)
    );
  }

  &-error {
    .makeTag(
      var(--ergo-error-color),
      var(--ergo-error-bg-color),
      var(--ergo-error-border-color)
    );
  }

  &-warning {
    .makeTag(
      var(--ergo-warning-color),
      var(--ergo-warning-bg-color),
      var(--ergo-warning-border-color)
    );
  }

  &-processing {
    .makeTag(
      var(--ergo-blue-color),
      var(--ergo-blue-bg-color),
      var(--ergo-blue-border-color)
    );
  }

  &-default {
    .makeTag(
      var(--ergo-primary-text),
      var(--ergo-dark-card-background),
      var(--ergo-default-border-color)
    );
  }

  &-magenta {
    .makeTag(
      var(--ergo-magenta-color),
      var(--ergo-magenta-bg-color),
      var(--ergo-magenta-border-color)
    );
  }

  &-red {
    .makeTag(
      var(--ergo-red-color),
      var(--ergo-red-bg-color),
      var(--ergo-red-border-color)
    );
  }

  &-volcano {
    .makeTag(
      var(--ergo-volcano-color),
      var(--ergo-volcano-bg-color),
      var(--ergo-volcano-border-color)
    );
  }

  &-orange {
    .makeTag(
      var(--ergo-orange-color),
      var(--ergo-orange-bg-color),
      var(--ergo-orange-border-color)
    );
  }

  &-gold {
    .makeTag(
      var(--ergo-gold-color),
      var(--ergo-gold-bg-color),
      var(--ergo-gold-border-color)
    );
  }

  &-lime {
    .makeTag(
      var(--ergo-lime-color),
      var(--ergo-lime-bg-color),
      var(--ergo-lime-border-color)
    );
  }

  &-green {
    .makeTag(
      var(--ergo-green-color),
      var(--ergo-green-bg-color),
      var(--ergo-green-border-color)
    );
  }

  &-cyan {
    .makeTag(
      var(--ergo-cyan-color),
      var(--ergo-cyan-bg-color),
      var(--ergo-cyan-border-color)
    );
  }

  &-blue {
    .makeTag(
      var(--ergo-blue-color),
      var(--ergo-blue-bg-color),
      var(--ergo-blue-border-color)
    );
  }

  &-geekblue {
    .makeTag(
      var(--ergo-geek-blue-color),
      var(--ergo-geek-blue-bg-color),
      var(--ergo-geek-blue-border-color)
    );
  }

  &-purple {
    .makeTag(
      var(--ergo-purple-color),
      var(--ergo-purple-bg-color),
      var(--ergo-purple-border-color)
    );
  }
}
