@import "../../../assets/styles/variables/general.less";

.boxDetailsEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--teddy-box-color);
  width: 100%;
  max-width: 890px;
  border-radius: 18px;
  padding: 35px 24px;
  .boxTitle{
    .mixTitleBox;
    align-self: flex-start;
    margin-bottom: 48px;
  }
  .boxTimeContainer{
    .mixBoxTimeContainer;
  }
}
