@import './src/assets/styles/variables/gradients';

.ant-btn {
  &.NetworkDropdown {
    &__container {
      display: flex;
      height: 40px;
      align-items: center;
      padding-right: 16px;
      padding-left: 16px;
      border: 1px solid transparent;
      color: var(--ergo-networkdropdown-hover-focus-color);

      &:hover,
      &:focus {
        border: 1px solid var(--ergo-networkdropdown-hover-focus-border);
        color: var(--ergo-networkdropdown-hover-focus-color);
      }

      &--cardano {
        background: @gradient-cardano-dropdown;
        background-origin: border-box;

        &:hover,
        &:focus {
          background: @gradient-cardano-dropdown;
          background-origin: border-box;
        }
      }

      &--ergo {
        background: @gradient-ergo-dropdown;
        background-origin: border-box;

        &:hover,
        &:focus {
          background: @gradient-ergo-dropdown;
          background-origin: border-box;
        }
      }
    }

    &__logo {
      margin-right: 8px;
    }
  }
}

.NetworkDropdown {
  &__token-icon {
    margin-right: 8px;
  }
}
