.slippage-input {
  input {
    text-align: right;

    /* stylelint-disable-next-line */
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      /* stylelint-disable-next-line */
      -webkit-appearance: none;
    }
  }
}

