.swap {
  &__btn {
    height: 52px;
    font-size: 20px;
    line-height: 28px;
  }

  &__switch-btn {
    transform: rotate(90deg);

    &-wrapper {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
