.swap-form {
  display: flex;
  width: 480px;
  height: 456px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  margin: auto;
  
  background-color: var(--ergo-swap-form-bg);
  border-radius: 20px;
  box-shadow: none;

  .ergodex-box {
    position: unset;
    display: inherit;
    padding: 0;
  }

  .swap-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background-color: transparent;

    .form-title {
      align-self: stretch;
      color: var(--ergo-primary-text);
  
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
    }
  
    .network-name {
      align-self: stretch;
      color: var(--ergo-swap-form-sub-text);
  
      font-size: 12px;
      line-height: 20px;
    }

    .top-right {
      position: absolute;
      top: 16px;
      right: 16px;
      background-color: transparent;

      svg {
        color: var(--ergo-swap-form-icon);
      }
    }
  }

  .from-token-input {
    width: 100%;
    margin-top: 24px;
  }

  .to-token-input {
    width: 100%;
  }

  .swap-arrow {
    position: relative;
    z-index: 100;
    height: 4px;
    
    button {
      position: absolute;
      top: -20px + 2px;
      left: calc(50% - 40px/2);
      transform: rotate(-90deg);
    }
  }

  .bottom-button {
    width: 100%;
    height: 52px;
    margin-top: 16px;
  }
}
