.swap-button {
  position: relative;

  button {
    position:  absolute;
    z-index:   1;
    top:       50%;
    left:      50%;
    transform: rotate(-90deg) translate(50%, -50%);
  }

  &__tip {
    flex-direction: row;
    padding: 3px 1px !important;
    color: var(--ergo-primary-text);
    &-icon {
      margin-right: 5px;
    }
    &-price {
      margin-left: 4px;
      &-text {
        color: var(--ergo-footnote-text) !important;
      }
    }
  }
}

.ant-tooltip-inner {
  .price-content {
    position: relative;
    height: 30px;
    background-color: var(--ergo-tooltip-bg-color) !important;
    &__left {
      position: absolute;
      left: 0;
      color: var(--ergo-tooltip-text-color) !important;
    }
    &__right {
      position: absolute;
      right: 0;
      color: var(--ergo-tooltip-text-color) !important;
    }
  }
}

.swap-tooltip {
  .ant-tooltip-inner {
    width: 296px;
  }
}
