.position__detail_wrapper {
  width: 420px;
  background-color: var(--ergo-pool-position-bg-1);
}

.percent-lbl {
  background-color: var(--ergo-pool-position-bg-1);
}

.liquidity-info__wrapper {
  background-color: var(--ergo-pool-position-bg);
}

.fee-lbl.ant-typography {
  color: var(--ergo-profit-color);
}

.price__wrapper {
  background-color: var(--ergo-pool-position-bg);
}
