.position__detail_wrapper {
  width: 420px;
  background-color: var(--ergo-pool-position-bg-1);
}

.percent-lbl.ant-typography {
  padding: 2px 4px;
  margin-left: 8px;
  border-radius: 8px;
  font-size: 12px;
  &.token-pair {
    background-color: var(--ergo-pool-position-bg);
  }
  &.token {
    background-color: var(--ergo-pool-position-bg-1);
  }
}

.collect-fee__btn.ant-btn.ant-btn-primary {
  border-radius: 8px !important;
}

.liquidity-info__wrapper {
  padding: 12px;
  background-color: var(--ergo-pool-position-bg);
  border-radius: 8px;
}

.fee-lbl.ant-typography {
  color: var(--ergo-pool-position-fee-color);
}

.price__wrapper {
  background-color: var(--ergo-pool-position-bg);
  &.first {
    margin-right: 4px;
  }
  &.second {
    margin-left: 4px;
  }
}

.liquidity-btn__wrapper {
  &.first {
    margin-right: 4px;
  }
  &.second {
    margin-left: 4px;
  }
}
