@import './src/assets/styles/variables/colors.less';

.swap-input {
  .ant-input {
    background-color: @color-gray-2;
    border-color: @color-gray-2 !important;
    box-shadow: none !important;
  }

  .ant-input-affix-wrapper {
    background-color: @color-gray-2;
    border-color: @color-gray-2 !important; 
    box-shadow: none !important;
    
    .ant-input-suffix {
      color: @color-gray-8;
    }
  }
}
