@import '../../../../../assets/styles/variables/gradients';

.network-dropdown {
  &-item {
    position: relative;

    &__active {
      &::after {
        position: absolute;
        top: 12px;
        right: 16px;
        width: 8px;
        height: 8px;
        background-color: var(--spectrum-success-color);
        border-radius: 50%;
        content: '';
      }
    }
  }

  &__menu {
    padding: calc(var(--spectrum-base-gutter) * 2);

    .ant-dropdown-menu-item {
      padding: var(--spectrum-base-gutter) calc(var(--spectrum-base-gutter) * 4);
    }
  }

  &__menu-title {
    display: block;
    padding-left: calc(var(--spectrum-base-gutter) * 4);
    margin-bottom: var(--spectrum-base-gutter) !important;
  }
  &__btn--ergo {
    border: 1px solid #cb5d2e;

    background-color: rgba(236, 105, 51, 0.25);
    border-radius: 4px;

    &:hover,
    &:focus {
      border: 1px solid #cb5d2e;

      background-color: rgba(236, 105, 51, 0.35);
      border-radius: 4px;
    }
    &:active {
      border: 1px solid #cb5d2e;

      background-color: rgba(236, 105, 51, 0.5);
      border-radius: 4px;
    }
  }
  &__btn--cardano {
    border: 1px solid #3f6ad6;

    background: rgba(68, 103, 191, 0.25);

    border-radius: 4px;
    &:hover,
    &:focus {
      border: 1px solid #3f6ad6;

      background: rgba(68, 103, 191, 0.35);
      border-radius: 4px;
    }
    &:active {
      border: 1px solid #3f6ad6;

      background-color: rgba(68, 103, 191, 0.5);
      border-radius: 4px;
    }
  }
  &__btn-text {
    display: none;
    @media (min-width: 700px) {
      display: inline;
    }
  }
}
