.navigationContainer {
  display: flex;
  width: 100%;
  max-width: 400px;
  gap: 45px;
  .page {
    display: flex;
    align-items: center;
    gap: 5px;
    .name {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color: var(--teddy-color-disable);
      cursor: pointer;
    }
    &.active {
      .name {
        color: var(--teddy-primary-text);
      }
      .iconContainer {
        .icon {
          fill: var(--teddy-primary-text);
        }
      }
    }
    .iconContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      background: var(--teddy-box-color-icon);
      border-radius: 3px;
      .icon {
        fill: var(--teddy-color-disable);
      }
      @media (max-width: 768px) {
        transform: rotate(180deg);
      }
    }
  }
  @media (max-width: 1030px) {
    gap: 16px;
  }
  @media (max-width: 768px) {
    max-width: none;
    gap: 45px;
  }
  @media (max-width: 400px) {
    gap: 16px;
  }
}
