@dark-color-gray-05: #0D0D0D;
@dark-color-gray-1: #141414;
@dark-color-gray-2: #1D1D1D;
@dark-color-gray-3: #262626;
@dark-color-gray-4: #303030;
@dark-color-gray-5: #434343;
@dark-color-gray-6: #5A5A5A;
@dark-color-gray-7: #7D7D7D;
@dark-color-gray-8: #ACACAC;
@dark-color-gray-9: #DBDBDB;
@dark-color-gray-10: #FFFFFF;

@dark-color-blue-1: #111D2C;
@dark-color-blue-2: #112A45;
@dark-color-blue-3: #15395B;
@dark-color-blue-4: #164C7E;
@dark-color-blue-5: #1765AD;
@dark-color-blue-6: #177DDC;
@dark-color-blue-7: #3C9AE8;
@dark-color-blue-8: #65B7F3;
@dark-color-blue-9: #8DCFF8;
@dark-color-blue-10: #B7E3FA;

@dark-color-dust-red-1: #2A1215;
@dark-color-dust-red-2: #431418;
@dark-color-dust-red-3: #58181C;
@dark-color-dust-red-4: #791A1F;
@dark-color-dust-red-5: #A61D24;
@dark-color-dust-red-6: #D32029;
@dark-color-dust-red-7: #E84749;
@dark-color-dust-red-8: #F37370;
@dark-color-dust-red-9: #F89F9A;
@dark-color-dust-red-10: #FAC8C3;

@dark-color-volcano-1: #2B1611;
@dark-color-volcano-2: #441D12;
@dark-color-volcano-3: #592716;
@dark-color-volcano-4: #7C3118;
@dark-color-volcano-5: #AA3E19;
@dark-color-volcano-6: #D84A1B;
@dark-color-volcano-7: #E87040;
@dark-color-volcano-8: #F3956A;
@dark-color-volcano-9: #F8B692;
@dark-color-volcano-10: #FAD4BC;

@dark-color-orange-1: #290500;
@dark-color-orange-2: #B81800;
@dark-color-orange-3: #E01E00;
@dark-color-orange-4: #FF2B0A;
@dark-color-orange-5: #FF5135;
@dark-color-orange-6: #FF725C;
@dark-color-orange-7: #FF9585;
@dark-color-orange-8: #FFB8AD;
@dark-color-orange-9: #FFDCD6;
@dark-color-orange-10: #FFEDEB;

@dark-color-sunset-1: #2B1D11;
@dark-color-sunset-2: #442A11;
@dark-color-sunset-3: #593815;
@dark-color-sunset-4: #7C4A15;
@dark-color-sunset-5: #AA6215;
@dark-color-sunset-6: #D87A16;
@dark-color-sunset-7: #E89A3C;
@dark-color-sunset-8: #F3B765;
@dark-color-sunset-9: #F8CF8D;
@dark-color-sunset-10: #FAE3B7;

@dark-color-gold-1: #2B2111;
@dark-color-gold-2: #443111;
@dark-color-gold-3: #594214;
@dark-color-gold-4: #7C5914;
@dark-color-gold-5: #AA7714;
@dark-color-gold-6: #D89614;
@dark-color-gold-7: #E8B339;
@dark-color-gold-8: #F3CC62;
@dark-color-gold-9: #F8DF8B;
@dark-color-gold-10: #FAEDB5;

@dark-color-yellow-1: #2B2611;
@dark-color-yellow-2: #443B11;
@dark-color-yellow-3: #595014;
@dark-color-yellow-4: #7C6E14;
@dark-color-yellow-5: #AA9514;
@dark-color-yellow-6: #D8BD14;
@dark-color-yellow-7: #E8D639;
@dark-color-yellow-8: #F3EA62;
@dark-color-yellow-9: #F8F48B;
@dark-color-yellow-10: #FAFAB5;

@dark-color-lime-1: #1F2611;
@dark-color-lime-2: #2E3C10;
@dark-color-lime-3: #3E4F13;
@dark-color-lime-4: #536D13;
@dark-color-lime-5: #6F9412;
@dark-color-lime-6: #8BBB11;
@dark-color-lime-7: #A9D134;
@dark-color-lime-8: #C9E75D;
@dark-color-lime-9: #E4F88B;
@dark-color-lime-10: #F0FAB5;

@dark-color-green-1: #162312;
@dark-color-green-2: #1D3712;
@dark-color-green-3: #274916;
@dark-color-green-4: #306317;
@dark-color-green-5: #3C8618;
@dark-color-green-6: #49AA19;
@dark-color-green-7: #6ABE39;
@dark-color-green-8: #8FD460;
@dark-color-green-9: #D5F2BB;
@dark-color-green-10: #D5F2BB;

@dark-color-cyan-1: #112123;
@dark-color-cyan-2: #113536;
@dark-color-cyan-3: #144848;
@dark-color-cyan-4: #146262;
@dark-color-cyan-5: #138585;
@dark-color-cyan-6: #13A8A8;
@dark-color-cyan-7: #33BCB7;
@dark-color-cyan-8: #58D1C9;
@dark-color-cyan-9: #84E2D8;
@dark-color-cyan-10: #B2F1E8;

@dark-color-geekblue-1: #131629;
@dark-color-geekblue-2: #161D40;
@dark-color-geekblue-3: #1C2755;
@dark-color-geekblue-4: #203175;
@dark-color-geekblue-5: #263EA0;
@dark-color-geekblue-6: #2B4ACB;
@dark-color-geekblue-7: #5273E0;
@dark-color-geekblue-8: #7F9EF3;
@dark-color-geekblue-9: #A8C1F8;
@dark-color-geekblue-10: #D2E0FA;

@dark-color-purple-1: #1A1325;
@dark-color-purple-2: #24163A;
@dark-color-purple-3: #301C4D;
@dark-color-purple-4: #3E2069;
@dark-color-purple-5: #51258F;
@dark-color-purple-6: #642AB5;
@dark-color-purple-7: #854ECA;
@dark-color-purple-8: #AB7AE0;
@dark-color-purple-9: #CDA8F0;
@dark-color-purple-10: #EBD7FA;

@dark-color-magenta-1: #291321;
@dark-color-magenta-2: #40162F;
@dark-color-magenta-3: #551C3B;
@dark-color-magenta-4: #75204F;
@dark-color-magenta-5: #A02669;
@dark-color-magenta-6: #CB2B83;
@dark-color-magenta-7: #E0529C;
@dark-color-magenta-8: #F37FB7;
@dark-color-magenta-9: #F8A8CC;
@dark-color-magenta-10: #FAD2E3;

@dark-color-background-1: #1D1D1D;
@dark-color-background-2: #001529;
@dark-color-background-3: #F0F2F5;
@dark-color-background-4: #1E1E1E;
