@import '../../../ergodex-cdk/styles/colors/colors.dark';

.cardano.dark {
  --ergo-primary-color:             #2E8DE6;
  --ergo-primary-color-hover:       #096DD9;
  --ergo-primary-color-active:      #096DD9;

  --ergo-glow-gradient:             radial-gradient(50% 50% at 50% 50%, rgba(58, 94, 186, 0.35) 0%, rgba(30, 30, 30, 0.35) 100%);
  --ergo-connect-wallet-btn-bg:     rgba(46, 141, 230, 0.35);
  --ergo-connect-wallet-btn-color:  var(--ergo-primary-color);
  --ergo-connect-wallet-btn-border: var(----ergo-primary-color-hover);
}
