@import '~@ergolabs/ui-kit/dist/styles/colors/colors.light';

.cardano.light {
  --spectrum-primary-color:                  #2E8DE6;
  --spectrum-primary-color-hover:            #096DD9;
  --spectrum-primary-color-active:           #096DD9;
  --spectrum-dropdown-menu-item-hover-color: #096DD9;
  --spectrum-slider-dot-active-bg:           #096DD9;
  --spectrum-slider-dot-active-border:       #096DD9;
  --spectrum-slider-track-bg:                #096DD9;
  --spectrum-slider-handle-border:           #2E8DE6;
  --spectrum-slider-handle-border-hover:     #096DD9;
  --spectrum-slider-box-shadow:              0 0 0 5px rgb(46 141 230 / 12%);
  --spectrum-glow-gradient:                  radial-gradient(50% 50% at 50% 50%, rgba(83, 123, 227, 0.25) 0%, rgba(240, 242, 245, 0.25) 100%);
  --spectrum-connect-wallet-btn-bg:          rgba(46, 141, 230, 0.35);
  --spectrum-connect-wallet-btn-color:       var(--spectrum-primary-color);
  --spectrum-connect-wallet-btn-border:      var(----spectrum-primary-color-hover);
  --spectrum-catalyst-background:            linear-gradient(84.95deg, #4467BF 2.83%, #244BB0 98.67%);
}
