@import '../../../ergodex-cdk/styles/colors/colors.light';

.cardano.light {
  --ergo-primary-color:                            #2E8DE6;
  --ergo-primary-color-hover:                      #096DD9;
  --ergo-primary-color-active:                     #096DD9;
  --ergo-glow-gradient:    radial-gradient(50% 50% at 50% 50%, rgba(83, 123, 227, 0.25) 0%, rgba(240, 242, 245, 0.25) 100%);
  --ergo-connect-wallet-btn-bg: rgba(46, 141, 230, 0.35);
  --ergo-connect-wallet-btn-color: var(--ergo-primary-color);
  --ergo-connect-wallet-btn-border: var(----ergo-primary-color-hover);
}
