.token-list-item-wrapper {
  display: flex;
  padding: 8px 16px;
  margin: 8px 0;
  background-color: var(--ergo-wallet-modal-token-item-wrapper-bg);
  border-radius: 12px;
  &:hover {
    background-color: var(--ergo-wallet-modal-token-item-wrapper-bg);
  }

  .token-icon {
    margin: auto;
  }

  .token-name-balance {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 10px;

    .token-symbol-name {
      display: flex;
      flex-direction: column;
      .token-symbol {
        color: var(--ergo-wallet-modal-token-item-token-symbol);
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
      }
      .token-name {
        color: var(--ergo-wallet-modal-token-item-token-name);
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
      }
    }

    .token-balance {
      margin-top: auto;
      margin-bottom: auto;
      color: var(--ergo-wallet-modal-token-item-token-symbol);
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
    }
  }
}
