.wallet-modal-wrapper {
  .ant-modal-content {
    width: 400px;
    background-color: #141414;
    border-radius: 16px;

    .ant-modal-header {
      border-bottom-width: 0;
      background: inherit;
      border-radius: inherit;

      .ant-modal-title {
        color: #dbdbdb;
        font-size: 20px;
        font-weight: 600;
      }
    }

    .ant-modal-close {
      position: absolute;
      top: 15px;
      right: 24px;
      color: #dbdbdb;
      span {
        width: auto;
        height: auto;
        line-height: 24px;
      }
    }

    .ant-modal-body {
      padding-top: 0;
      background: inherit;
      border-radius: inherit;

      .receive_address {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px;
        margin-top: 24px;
        background-color: #1d1d1d;
        border-radius: 12px;
      }
      .address_tokens_tab {
        padding: 16px;
        margin-top: 24px;
        background-color: #1D1D1D;
        border-radius: 12px;
      }
    }
  }
}
