@import './src/assets/styles/variables/colors.less';

.swap-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  
  background-color: @color-gray-05;
  border-radius: 20px;
  box-shadow: none;
  color: @color-gray-9;

  .from-token-input {
    width: 100%;
  }

  .swap-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    .form-title {
      align-self: stretch;
  
      font-size: 20px;
      line-height: 28px;
    }
  
    .network-name {
      align-self: stretch;
      margin-bottom: 24px;
  
      font-size: 12px;
      line-height: 20px;
    }

    .top-right {
      position: absolute;
      top: 26px;
      right: 26px;
    }
  }

  .to-token-input {
    width: 100%;
  }

  .swap-arrow {
    position: relative;
    height: 4px;
    button {
      position: absolute;
      top: -20px + 2px;
      left: calc(50% - 40px/2);
      transform: rotate(-90deg);
    }
  }

  .bottom-button {
    width: 100%;
    margin-top: 16px;
  }
}
