.ant-modal-content {
  background-color: var(--ergo-modal-color);
  border-radius:    var(--ergo-modal-radius);
}


.ant-modal-header {
  min-height:    60px;
  border-bottom: unset;
  background:    transparent;
  border-radius: var(--ergo-modal-radius) var(--ergo-modal-radius) 0 0;
}
/* stylelint-disable-next-line */
.ant-modal-close-x {
  color:     var(--ergo-modal-close-x-color);
  font-size: var(--ergo-modal-close-x-size);
}

.ant-modal-body {
  padding-top: 0;
}
