@font-face {
  font-family: 'Vela Sans';
  font-style:  normal;
  font-weight: normal;
  src:         url('./VelaSans-Regular.woff2') format('woff2'),
               url('./VelaSans-Regular.woff') format('woff'),
               url('./VelaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Vela Sans';
  font-style:  normal;
  font-weight: 600;
  src:         url('./VelaSans-SemiBold.woff2') format('woff2'),
               url('./VelaSans-SemiBold.woff') format('woff'),
               url('./VelaSans-SemiBold.ttf') format('truetype');
}


@font-face {
  font-family: 'Vela Sans';
  font-style:  normal;
  font-weight: bold;
  src:         url('./VelaSans-Bold.woff2') format('woff2'),
               url('./VelaSans-Bold.woff') format('woff'),
               url('./VelaSans-Bold.ttf') format('truetype');
}
