@font-face {
  font-family: 'Vela Sans';
  font-style:  normal;
  font-weight: normal;
  src:         url('/src/ergodex-cdk/styles/fonts/VelaSans-Regular.woff2') format('woff2'),
               url('/src/ergodex-cdk/styles/fonts/VelaSans-Regular.woff') format('woff'),
               url('/src/ergodex-cdk/styles/fonts/VelaSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Vela Sans';
  font-style:  normal;
  font-weight: 600;
  src:         url('/src/ergodex-cdk/styles/fonts/VelaSans-SemiBold.woff2') format('woff2'),
               url('/src/ergodex-cdk/styles/fonts/VelaSans-SemiBold.woff') format('woff'),
               url('/src/ergodex-cdk/styles/fonts/VelaSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Vela Sans';
  font-style:  normal;
  font-weight: bold;
  src:         url('/src/ergodex-cdk/styles/fonts/VelaSans-Bold.woff2') format('woff2'),
               url('/src/ergodex-cdk/styles/fonts/VelaSans-Bold.woff') format('woff'),
               url('/src/ergodex-cdk/styles/fonts/VelaSans-Bold.ttf') format('truetype');
}
