.ant-notification-notice.cardano-testnet-faucet {
  width: 415px;
  background: var(--cardano-testnet-notification-background);

  .ant-typography, svg {
    color: #fff !important;
  }
}

.cardano-testnet-faucet {
  --ergo-primary-color:             #2E8DE6;
  --ergo-primary-color-hover:       #096DD9;
  --ergo-primary-color-active:      #096DD9;
}
