.ergodex-box {
  position: relative;
  background-color: var(--ergo-box-bg);
  border-radius: var(--ergo-border-radius-sm);

  &--radius-s {
    border-radius: var(--ergo-border-radius-sm);
  }

  &--radius-m {
    border-radius: var(--ergo-border-radius-md);
  }

  &--radius-l {
    border-radius: var(--ergo-border-radius-lg);
  }

  &--form-wrapper {
    background-color: var(--ergo-box-bg-form-wrapper);
    border-radius: var(--ergo-border-radius-lg);
    box-shadow: var(--ergo-box-box-shadow-form-wrapper);
  }

  &--tag {
    background-color: var(--ergo-box-bg-tag);
  }

  &--contrast {
    background-color: var(--ergo-box-bg-contrast);
  }

  &--gray {
    background-color: var(--ergo-box-bg-gray);
  }

  &--transparent {
    background-color: transparent;
  }

  &--inline {
    display: inline-block;
  }
}
