.ergodex-box {
  position: relative;
  background-color: var(--ergo-box-bg);
  border-radius: var(--ergo-border-radius-sm);

  &--bordered {
    border: 1px solid var(--ergo-box-border-color);
  }

  &--radius-none {
    border-radius: initial;
  }

  &--radius-xs {
    border-radius: var(--ergo-base-gutter);
  }

  &--radius-s {
    border-radius: var(--ergo-border-radius-sm);
  }

  &--radius-m {
    border-radius: var(--ergo-border-radius-md);
  }

  &--radius-l {
    border-radius: var(--ergo-border-radius-page);
  }

  &--radius-xl {
    border-radius: var(--ergo-border-radius-lg);
  }


  //&--form-wrapper {
  //  background-color: var(--ergo-box-bg-form-wrapper);
  //  border-radius: var(--ergo-border-radius-lg);
  //  box-shadow: var(--ergo-box-box-shadow-form-wrapper);
  //}

  &--tag {
    background-color: var(--ergo-box-bg-tag);
  }

  &--contrast {
    background-color: var(--ergo-box-bg-contrast);
  }

  &--control {
    background-color: var(--ergo-box-bg-control);
  }

  &--transparent {
    background-color: transparent;
  }

  &--inline {
    display: inline-block;
  }
}
