.guide-banner {
  background: var(--ergo-guide-banner-bg);

  &__text {
    color: var(--ergo-guide-banner-text-color) !important;
  }

  &__btn,
  &__btn:hover,
  &__btn:focus,
  &__btn:active {
    border: 0 !important;
    background-color: var(--ergo-guide-banner-btn-bg) !important;
    color: var(--ergo-guide-banner-text-color) !important;
  }
}
