@import '../../../ergodex-cdk/styles/colors/colors.dark';

.ergo.dark {
  --ergo-primary-color:        @dark-color-orange-5;
  --ergo-primary-color-hover:  @dark-color-orange-6;
  --ergo-primary-color-active: @dark-color-orange-4;
  --ergo-glow-gradient:        radial-gradient(50% 50% at 50% 50%, rgba(118, 17, 1, 0.35) 0%, rgba(30, 30, 30, 0.35) 100%);
}
