@import '~@ergolabs/ui-kit/dist/styles/colors/colors.light';

.ergo.light {
  --ergo-primary-color:        @light-color-orange-6;
  --ergo-primary-color-hover:  @light-color-orange-5;
  --ergo-primary-color-active: @light-color-orange-7;
  --ergo-slider-box-shadow:    0 0 0 5px rgb(255 81 53 / 12%);
  --ergo-glow-gradient:        radial-gradient(50% 50% at 50% 50%, rgba(255, 115, 92, 0.25) 0%, rgba(240, 242, 245, 0.25) 100%);
}
