.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  .main {
    display: block;
    flex-grow: 1;

    img {
      width: 250px;
      height: auto;
    }
  }
}
