.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  .main {
    flex-grow: 1;
    display: block;

    & img {
      width: 250px;
      height: auto;
    }
  }
}
