//:root {
//  --ant-primary-color: red;
//}

//@btn-primary-color: var(--btn-primary-color);
//@btn-primary-bg: var(--btn-primary-bg);
//@btn-default-color: var(--btn-default-color);
//@btn-default-bg: var(--btn-default-bg);
//@btn-default-border: var(--btn-default-border);
//@btn-danger-bg: var(--btn-danger-bg);
//@btn-text-hover-bg: var(--btn-text-hover-bg);
//@btn-disable-color: var(--btn-disable-color);
//@btn-disable-bg: var(--btn-disable-bg);
//@btn-disable-border: var(--btn-disable-border);
//@btn-default-ghost-bg: var(--btn-default-ghost-bg);

.ant-btn {
    border-radius: 10px !important;
}

.ant-btn.ant-btn-loading::before {
    opacity: 0 !important;
}

.ant-btn.ant-btn-text:not(.ant-btn-dangerous) {
    color: @btn-default-color;
}

.ant-btn.ant-btn-text:focus {
    background: @btn-text-hover-bg;
}

.ant-btn.ant-btn-text:active {
    background: @btn-disable-bg;
}
