@import './src/assets/styles/variables/colors.less';

.ant-input {
  border-radius: 8px;
  font-size: 14px;
}

.ant-input-affix-wrapper {
  border-radius: 8px;
  font-size: 14px;
}

.ant-form-item-label > label .ant-form-item-tooltip {
  color: @color-gray-7;
}
.ant-form-item-label > label .ant-form-item-optional {
  color: @color-gray-7;
}

.ant-form-item-extra {
  color: @color-gray-7;
}
