@import '../../../assets/styles/variables/general.less';


.selectTabGroup {
  position: absolute;
  top: -70px;
  left: calc(50% - 210px);
  display: flex;
  width: 98%;
  max-width: 420px;
  backdrop-filter: blur(10px);
  height: 36px;
  border-radius: 18px;
  background: var(--teddy-box-color);
  .tab {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--teddy-color-disable);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    cursor: pointer;
    &.active {
      color: var(--teddy-primary-text);
    }
  }
  @media (max-width: 450px) {
    left: 5px;
    .tab {
      font-size: 16px;
    }
  }
}

.liquidityContainer {
  padding: 30px;
  margin-top: 50px;
  .headerLiquidity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    .searchGroup {
      position: relative;
      width: 60%;
      min-width: 415px;
      .inputSearch {
        .mixInputDefault;
        background: var(--teddy-box-color-dark);
        border-radius: 8px;
        height: 45px;
        font-size: 14px;
        color: var(--teddy-text-input-secondary);
        width: 100%;
        max-width: 415px;
        padding-left: 36px;
        &::placeholder {
          color: var(--teddy-text-input-secondary);
        }
        &:focus {
          border: 1px solid var(--teddy-dark-color-active);
        }
      }
      .icon {
        fill: var(--teddy-text-input-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: calc(50% - 8px);
        left: 14px;
      }
    }
    .harvestGroup {
      position: relative;
      min-width: 200px;
      height: 45px;
      .btnHarvest {
        .mixBtn;
            height: 100%;
            font-size: 16px;
            max-width: 200px;
      }
      .rewards {
        position: absolute;
        font-size: 14px;
        width: 200px;
        bottom: -26px;
        margin: 0;
        right: 0;
        text-align: center;
        color: var(--teddy-color-success);
      }
    }

  }

  @media (max-width: 960px) {
    margin-top: 90px;
  }
  @media (max-width: 450px) {
    padding: 16px;
  }
  @media (max-width: 350px) {
    .searchGroup {
      .inputSearch {
        font-size: 12px;
      }
    }
  }
}
