.recharts-cartesian-axis tspan {
  fill: var(--spectrum-footnote-text);
  font: var(--spectrum-footnote-font);
}

.recharts-rectangle {
  fill: linear-gradient(180deg, #FF8C01 -0.57%, #FF5135 100%);
}

.hidden-tooltip {
  display: none;
}

.recharts-tooltip-cursor {
  fill: var(--spectrum-bar-hover-color);
  opacity: 0.2;
}
