.ant-list-overlay {
  position:       absolute;
  z-index:        1;
  top:            0;
  bottom:         0;
  left:           0;
  width:          100%;
  height:         100%;
  content:        '';
  opacity:        1;
  pointer-events: none;
  transition:     opacity 2s, background 2s;
  visibility:     hidden;
}

.ant-list-overlay--bottom {
  background: linear-gradient(180deg, var(--ergo-list-overlay-gradient));
  opacity:    1;
  visibility: visible;
}

.ant-list-overlay--top {
  background: linear-gradient(0deg, var(--ergo-list-overlay-gradient));
  opacity:    1;
  visibility: visible;
}

.ant-list ul > *:not(:last-child) {
  margin-bottom: var(--item-gap);
}
