.ant-alert {
  border-radius: 8px !important;
  color: var(--ergo-alert-message-color) !important;

  &.alert-not-border {
    border-color: transparent;
  }

  &-close-icon {
    position: absolute;
    right: 12px;

    .anticon-close {
      color: var(--ergo-alert-message-color) !important;
    }
  }

  &-close-text {
    color: var(--ergo-alert-message-color) !important;
  }

  &-message {
    color: var(--ergo-alert-message-color) !important;
  }

  &-info {
    border: 1px solid var(--ergo-info-border-color);
    background-color: var(--ergo-info-bg-color);

    .ant-alert-icon {
      color: var(--ergo-info-icon-color);
    }
  }

  &-success {
    border: 1px solid var(--ergo-success-border-color);
    background-color: var(--ergo-success-bg-color);

    .ant-alert-icon {
      color: var(--ergo-success-icon-color);
    }
  }

  &-warning {
    border: 1px solid var(--ergo-warning-border-color);
    background-color: var(--ergo-warning-bg-color);

    .ant-alert-icon {
      color: var(--ergo-warning-icon-color);
    }
  }

  &-error {
    border: 1px solid var(--ergo-error-border-color);
    background-color: var(--ergo-error-bg-color);

    .ant-alert-icon {
      color: var(--ergo-error-icon-color);
    }
  }
}
