/* stylelint-disable */
span.ant-typography, div.ant-typography {
  margin: 0;
  color:  var(--ergo-primary-text);
  font:   var(--ergo-body-font);

  strong {
    font-weight: 600;
  }
}

.ant-typography.ant-typography-secondary {
  color: var(--ergo-footnote-text);
}

.ant-typography-footnote.ant-typography {
  color: var(--ergo-footnote-text);
  font:  var(--ergo-footnote-font);
}

h1.ant-typography {
  margin: 0;
  color:  var(--ergo-primary-text);
  font:   var(--ergo-h1-font);
}

h2.ant-typography {
  margin: 0;
  color:  var(--ergo-primary-text);
  font:   var(--ergo-h2-font);
}

h3.ant-typography {
  margin: 0;
  color:  var(--ergo-primary-text);
  font:   var(--ergo-h3-font);
}

h4.ant-typography {
  margin: 0;
  color:  var(--ergo-primary-text);
  font:   var(--ergo-h4-font);
}

h5.ant-typography {
  margin: 0;
  color:  var(--ergo-primary-text);
  font:   var(--ergo-h5-font);
}
