
.ant-notification-notice.catalyst-f9-notification {
  width:        calc(100% - 1rem);
  max-width:    408px;
  padding:      1rem !important;
  background: var(--spectrum-catalyst-background);

  .ant-notification-notice-message {
    padding-right: 0;
  }

  .ant-typography, svg {
    color: #fff !important;
  }
}
