.ant-notification-notice.catalyst-f9-notification {
  display:    none;
  @media (min-width: 520px) {
    display: block;
  }
  padding:    1rem !important;
  width:      408px;
  background: var(--ergo-catalyst-background);

  .ant-notification-notice-message {
    padding-right: 0;
  }

  .ant-typography, svg {
    color: #fff !important;
  }
}
