@import "../../../assets/styles/variables/general.less";

.volumeChartContainer {

    .chartData {
        position: absolute;
        top: 10px;
        left: 20px;
        // padding: 20px;
        color: #fff;
        font-weight: 500;

        .title {
            .mixTitleBox;
            font-size: 14px;
        }

        .description {
             .mixTitleBox;
             font-size: 14px;
        }

        .thisWeekData {
            .mixSubTitleBox;
            color: #0FC43B;
            font-size: 12px;
        }
    }
}

