@import "../../../assets/styles/variables/general.less";

.volumeChartContainer {
    

    .chartData {
        position: absolute;
        top: 20px;
        left: 20px;
        color: #fff;
        font-weight: 500;

        .title {
            .mixTitleBox;
        }

        .description {
             .mixTitleBox;
        }

        .thisWeekData {
            .mixSubTitleBox;
            color: #0FC43B;
        }
    }
}