.header_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_settings-btn {
  color: #fff;
  cursor: pointer;
}

.header_others-btn {
  width: 36px;
  height: 36px;
  padding: 4px 0;
  border: 1px solid transparent;
  background-color: #141414;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-size: xx-small;
}

.header_network-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  > * {
    margin-right: 12px;
  }
}
.header_theme_switch {
  margin-left: 24px;
}
.ant-dropdown-menu-submenu-title,
.ant-dropdown-menu-submenu-arrow-icon {
  color: #dbdbdb !important;
}
