.header_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_settings-btn {
  cursor: pointer;
}

.header_others-btn {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  background-color: #141414;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-size: xx-small;
}

.header_network-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  > * {
    margin-right: 12px;
  }
}
