@import "../../ergodex-cdk/styles/styles";

.cardano.dark {
  --ergo-primary-color:                  @dark-cardano-6;
  --ergo-primary-color-hover:            @dark-cardano-7;
  --ergo-primary-color-active:           @dark-cardano-5;
  --ergo-primary-text-contrast:          @dark-color-gray-10;
  --ergo-dropdown-menu-item-hover-color: @dark-cardano-7;
  --ergo-glow-gradient:                  radial-gradient(50% 50% at 50% 50%, rgba(58, 94, 186, 0.8) 0%, rgba(30, 30, 30, 0.8) 100%);
}

.cardano.light {
  --ergo-primary-color:                  @light-cardano-6;
  --ergo-primary-color-hover:            @light-cardano-5;
  --ergo-primary-color-active:           @light-cardano-7;
  --ergo-primary-text-contrast:          @light-color-gray-1;
  --ergo-dropdown-menu-item-hover-color: @light-cardano-5;
  --ergo-glow-gradient:                  radial-gradient(50% 50% at 50% 50%, rgba(83, 123, 227, 0.8) 0%, rgba(240, 242, 245, 0.8) 100%);
}
