.header {
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  transition: transform .3s;

  &__wrapper {
    position: relative;
    top: 0;
    display: grid;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-self: flex-start;

    > *:not(:last-child) {
      margin-right: 8px;
    }

    > *:first-child {
      margin-right: 16px;
    }
  }

  &__options {
    display: flex;
    align-items: center;
    justify-self: flex-end;

    > *:not(:last-child) {
      margin-right: 8px;

      @media (max-width: 960px) {
            display: none;
      }
    }
  }

  &__theme-switch {
    margin-left: 24px;
  }

  &__btn {
    border: 1px solid transparent;
  }

  &_hidden {
    transform: translateY(-72px);
  }
}
