@import '../../../assets/styles/variables/gradients';

.network-dropdown {
  &__btn {
    &--cardano {
      background: @gradient-cardano-dropdown !important;
    }

    &--ergo {
      background: @gradient-ergo-dropdown !important;
    }
  }

  &-item {
    position: relative;

    &__active {
      &::after {
        position: absolute;
        top: 13px;
        right: 10px;
        width: 8px;
        height: 8px;
        background-color: var(--ergo-success-color);
        border-radius: 50%;
        content: '';
      }
    }
  }
}
