@import './src/assets/styles/variables/colors.less';

.connect-wallet__wrapper {
  display: inline-block;
  background: @color-gray-1;
  border: 1px solid transparent;
  padding: 4px 4px;
  border-radius: 12px;
  &:hover,
  &:active {
    border: 1px solid @color-gray-5;
  }
}

.connect-wallet__balance-label {
  color: @color-gray-9;
}

.connect-wallet__address-label {
  color: @color-gray-7;
  background: transparent;
  padding: 4px 4px;
  border: 0;
  border-radius: 8px;
  &.connect-wallet__default,
  &.connect-wallet__pending {
    background: black;
  }
  &:nth-child(2) {
    margin-left: 4px;
  }
  pointer-events: none;
}
