.connect-wallet__container {
  padding: 20px 20px 40px;
  background: #141414;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  color: #dbdbdb;
}

h1 {
  margin-top: 48px;
}

h2 {
  margin: 28px 0 16px;
}

.connect-wallet__default-btn {
  border: 0;
  color: #ff725c;
  background: rgba(255, 114, 92, 0.35);
  &:hover,
  &:active {
    color: #ff725c;
    border: 1px solid #ff5135;
    background: rgba(255, 114, 92, 0.35);
  }
}
