@import "../../../ergodex-cdk/styles/variables";
@import "../../../ergodex-cdk/styles/colors/colors.dark";

.dark {
  .defaultTheme();
  --ergo-primary-color:           @dark-color-orange-5;
  --ergo-primary-color-hover:     @dark-color-orange-6;
  --ergo-primary-color-active:    @dark-color-orange-4;
  --ergo-primary-text-constast:   @dark-color-gray-10;

  --ergo-disabled-color:          @dark-color-gray-3;
  --ergo-disabled-text-constrast: @dark-color-gray-6;

  // Info
  --ergo-info-color:                   @dark-color-blue-6;
  --ergo-info-color-hover:             @dark-color-blue-7;
  --ergo-info-color-active:            @dark-color-blue-5;
  --ergo-info-border-color:            @dark-color-blue-3;
  --ergo-info-bg-color:                @dark-color-blue-1;
  --ergo-info-icon-color:              var(--ergo-info-color-active);

  // Success
  --ergo-success-color:                @dark-color-green-6;
  --ergo-success-color-hover:          @dark-color-green-7;
  --ergo-success-color-active:         @dark-color-green-5;
  --ergo-success-border-color:         @dark-color-green-3;
  --ergo-success-bg-color:             @dark-color-green-1;
  --ergo-success-icon-color:           var(--ergo-success-color-active);

  // Warning
  --ergo-warning-color:                @dark-color-gold-6;
  --ergo-warning-color-hover:          @dark-color-gold-7;
  --ergo-warning-color-active:         @dark-color-gold-5;
  --ergo-warning-border-color:         @dark-color-gold-3;
  --ergo-warning-bg-color:             @dark-color-gold-1;
  --ergo-warning-icon-color:           var(--ergo-warning-color-active);

  // Error
  --ergo-error-color:             @dark-color-dust-red-6;
  --ergo-error-color-hover:       @dark-color-dust-red-7;
  --ergo-error-color-active:      @dark-color-dust-red-5;
  --ergo-error-border-color:      @dark-color-dust-red-3;
  --ergo-error-bg-color:          @dark-color-dust-red-1;
  --ergo-error-icon-color:        var(--ergo-error-color-active);

  --ergo-default-background:      @dark-color-gray-1;
  --ergo-default-card-background: @dark-color-gray-3;
  --ergo-dark-card-background:    @dark-color-gray-2;
  --ergo-ghost-background:        transparent;
  --ergo-default-border-color:    @dark-color-gray-5;
  --ergo-primary-text:            @dark-color-gray-9;

  // Alert
  --ergo-alert-message-color:          @dark-color-gray-9;
  --ergo-alert-close-color:            @dark-color-gray-7;

  // Slider
  --ergo-slider-rail-bg: @dark-color-gray-4;
  --ergo-slider-track-bg: @dark-color-orange-3;

  --ergo-slider-handle-bg: var(--ergo-default-card-background);
  --ergo-slider-handle-bg-hover: var(--ergo-default-card-background);
  --ergo-slider-handle-border: var(--ergo-primary-color);
  --ergo-slider-handle-border-hover: var(--ergo-primary-color-hover);

  --ergo-slider-dot-bg: var(--ergo-default-card-background);
  --ergo-slider-dot-border: var(--ergo-slider-rail-bg);
  --ergo-slider-dot-active-bg: var(--ergo-slider-track-bg);
  --ergo-slider-dot-active-border: var(--ergo-slider-track-bg);

  --ergo-slider-disabled: @dark-color-gray-4;
  --ergo-slider-disabled-contrast: var(--ergo-disabled-text-constrast);
}
