.connect-wallet-btn {
  border-color: transparent;
  background:   var(--ergo-connect-wallet-btn-bg) !important;
  color:        var(--ergo-connect-wallet-btn-color) !important;

  &:hover, &:active, &:focus {
    border-color: 1px solid var(--ergo-connect-wallet-btn-border);
  }
}
