@import './src/assets/styles/variables/colors.less';

.ant-tag {
  padding: 1px 8px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 20px;

  &-success {
    border-color: @color-green-3;
    background-color: @color-green-1;
    color: @color-green-6;
  }

  &-error {
    border-color: @color-dust-red-3;
    background-color: @color-dust-red-1;
    color: @color-dust-red-6;
  }

  &-warning {
    border-color: @color-gold-3;
    background-color: @color-gold-1;
    color: @color-gold-6;
  }

  &-processing {
    border-color: @color-blue-3;
    background-color: @color-blue-1;
    color: @color-blue-6;
  }

  &-default {
    border-color: @color-gray-5;
    background-color: @color-gray-2;
    color: @color-gray-9;
  }

  &-magenta {
    border-color: @color-magenta-3;
    background-color: @color-magenta-1;
    color: @color-magenta-6;
  }

  &-red {
    border-color: @color-dust-red-3;
    background-color: @color-dust-red-1;
    color: @color-dust-red-6;
  }

  &-volcano {
    border-color: @color-volcano-3;
    background-color: @color-volcano-1;
    color: @color-volcano-6;
  }

  &-orange {
    border-color: @color-sunset-3;
    background-color: @color-sunset-1;
    color: @color-sunset-6;
  }

  &-gold {
    border-color: @color-gold-3;
    background-color: @color-gold-1;
    color: @color-gold-6;
  }

  &-lime {
    border-color: @color-lime-3;
    background-color: @color-lime-1;
    color: @color-lime-6;
  }

  &-green {
    border-color: @color-green-3;
    background-color: @color-green-1;
    color: @color-green-6;
  }

  &-cyan {
    border-color: @color-cyan-3;
    background-color: @color-cyan-1;
    color: @color-cyan-6;
  }

  &-blue {
    border-color: @color-blue-3;
    background-color: @color-blue-1;
    color: @color-blue-6;
  }

  &-geekblue {
    border-color: @color-geek-blue-3;
    background-color: @color-geek-blue-1;
    color: @color-geek-blue-6;
  }

  &-purple {
    border-color: @color-purple-3;
    background-color: @color-purple-1;
    color: @color-purple-6;
  }
}
