@import '~@ergolabs/ui-kit/dist/styles/colors/colors.dark';
@import '~@ergolabs/ui-kit/dist/styles/variables.dark';


.dark {
  @teddy-dark-primary-color: #181E29;
  @teddy-dark-general-color: #FFFFFF;
  @teddy-dark-color-container: linear-gradient(93deg, #212936 -21.87%, #131725 172.12%);
  @teddy-dark-primary-color-hover: #FFFFFF;
  @teddy-dark-secondary-color: #454e60;
  @teddy-dark-active-color: #51A1FF;
  @teddy-dark-box-secondary: #1f2635;
  @teddy-dark-default-color: #101725;
  @teddy-dark-active-color-hover: #51A1FF99;
  @teddy-primary-text: #FFFFFF;
  @teddy-secondary-text: #C6C6C6;
  @teddy-tab-color-active: transparent;
  @teddy-box-color: linear-gradient(128.53deg, rgba(69, 78, 96, 0.63) 11.81%, rgba(73, 79, 89, 0.63) 48.34%, rgba(43, 56, 74, 0.63) 98.82%);
  @teddy-box-color-dark: linear-gradient(315.01deg, #181D2D -11.92%, rgba(46, 47, 58, 0.75) 119.58%);
  @teddy-box-color-icon: linear-gradient(36.62deg, rgba(255, 255, 255, 0.06) 12.45%, rgba(255, 255, 255, 0.13) 106.33%);
  @teddy-color-disable: #AAA9A1;
  @teddy-color-success: #49AA19;

  .darkTheme();
  --spectrum-glow-image-width: 100%;

  --spectrum-modal-color: @teddy-dark-box-secondary;
  --spectrum-box-bg-hover: @teddy-dark-secondary-color;
  --spectrum-input-bg: @teddy-dark-default-color;
  --spectrum-box-border-color: @teddy-dark-secondary-color;
  --spectrum-default-border-color: @teddy-tab-color-active;
  --spectrum-box-bg-hover-glass: @teddy-dark-active-color-hover;
  --spectrum-box-border-color-secondary-glass: @teddy-tab-color-active;

  --spectrum-primary-color:  @teddy-dark-general-color;
  --ant-primary-color: @teddy-dark-active-color;

  --teddy-dark-general-color: @teddy-dark-general-color;
  --teddy-primary-color: @teddy-dark-primary-color;
  --teddy-primary-color-hover: @teddy-dark-active-color-hover;
  --teddy-secondary-color: @teddy-dark-secondary-color;
  --teddy-color-disable:  @teddy-color-disable;
  --teddy-default-color: @teddy-dark-default-color;
  --teddy-box-color: @teddy-box-color;
  --teddy-box-color-dark: @teddy-box-color-dark;
  --teddy-box-color-icon: @teddy-box-color-icon;
  --teddy-dark-secondary-color:  @teddy-dark-box-secondary;
  --teddy-dark-color-active: @teddy-dark-active-color;
  --teddy-primary-text: @teddy-primary-text;
  --teddy-secondary-text: @teddy-secondary-text;
  --teddy-dark-color-container: @teddy-dark-color-container;
  --teddy-color-success: @teddy-color-success;

  --spectrum-box-bg-glass: @teddy-dark-primary-color;
  --spectrum-box-border-color-glass: @teddy-tab-color-active;

  --spectrum-primary-color-hover: @teddy-dark-primary-color-hover;
  --spectrum-primary-color-active: @teddy-dark-active-color;
  --spectrum-tag-primary: @teddy-dark-primary-color;
  --spectrum-secondary-color: @teddy-dark-secondary-color;
  --spectrum-tab-color-active: @teddy-tab-color-active;

  --spectrum-box-bg-secondary: @teddy-dark-secondary-color;
  --spectrum-box-bg-secondary-glass: @teddy-dark-box-secondary;
  --spectrum-btn-default-color: @teddy-dark-default-color;
  --spectrum-primary-color-hover: @teddy-dark-secondary-color;
  --spectrum-primary-text-contrast-hover: @teddy-dark-active-color;
  --spectrum-box-bg: @teddy-dark-default-color;
  --spectrum-dropdown-menu-item-hover-bg: @teddy-dark-secondary-color;
  --spectrum-dropdown-menu-item-hover-color: @teddy-dark-active-color;
  --spectrum-connect-wallet-address-btn-bg: @teddy-dark-default-color;
  --spectrum-primary-text: @teddy-primary-text;
  --spectrum-secondary-text: @teddy-secondary-text;
  --spectrum-dark-card-background: @teddy-dark-primary-color;

  --spectrum-logo-color: var(--spectrum-primary-text);
  --spectrum-asset-box-border-color: transparent;
  --spectrum-progress-standart-background-bg: @teddy-dark-primary-color;
  --spectrum-box-bg-contrast: transparent;
  --spectrum-text-white: white;
  --spectrum-text-teriary: white;
  --spectrum-ido-notifcation-background: @teddy-dark-secondary-color;
  --spectrum-body-bg: rgb(30, 39, 50);
  --spectrum-body-bg-gradient: linear-gradient(110deg, #1E2732 -6.19%, #242C3C 30.87%, #0D0F1D 113.69%);

  --spectrum-connect-wallet-btn-bg: @teddy-dark-default-color;
  --spectrum-connect-wallet-btn-border: @teddy-dark-active-color;
  --spectrum-connect-wallet-btn-color: white;
  --spectrum-connect-wallet-address-btn-color: white;
  --spectrum-claim-spf-background: @teddy-dark-secondary-color;
  --spectrum-claim-spf-notifcation-background: var(
    --spectrum-claim-spf-background
  );
  --spectrum-claim-spf-box-background: @teddy-dark-primary-color;
  --spectrum-yield-farming-badge-background: rgba(113, 103, 197, 0.2);
  --spectrum-claim-spf-box-border-color: @teddy-dark-secondary-color;
  --spectrum-lbsp-banner-background-color: @teddy-dark-color-container;
  --spectrum-network-select-item-overlay-opacity: 0.35;
}
