@import "../../../core-components/styles/variables";
@import "../../../core-components/styles/palette/palette.dark";

.dark {
  .defaultTheme();
  --ergo-primary-color:           @dark-color-orange-5;
  --ergo-primary-color-hover:     @dark-color-orange-6;
  --ergo-primary-color-active:    @dark-color-orange-4;
  --ergo-primary-text-constast:   @dark-color-gray-10;

  --ergo-disabled-color:          @dark-color-gray-3;
  --ergo-disabled-text-constrast: @dark-color-gray-6;

  --ergo-error-color:             @dark-color-dust-red-6;
  --ergo-error-color-hover:       @dark-color-dust-red-7;
  --ergo-error-color-active:      @dark-color-dust-red-5;

  --ergo-default-background:      @dark-color-gray-1;
  --ergo-default-card-background: @dark-color-gray-3;
  --ergo-ghost-background:        transparent;
  --ergo-default-border-color:    @dark-color-gray-5;
  --ergo-primary-text:            @dark-color-gray-9;
}
