@import '../variables/palette.light';

.defaultTheme () {
  // Geometry
  --ergo-border-radius-lg:             12px;
  --ergo-border-radius-md:             12px;
  --ergo-border-radius-sm:             12px;
  --ergo-border-radius:                var(--ergo-border-radius-lg);

  // Color
  --ergo-primary-color:                @light-color-orange-6;
  --ergo-primary-color-hover:          @light-color-orange-5;
  --ergo-primary-color-active:         @light-color-orange-7;
  --ergo-primary-text-constast:        @light-color-gray-1;
  --ergo-primary-text-constast-hover:  var(--ergo-primary-text-constast);
  --ergo-primary-text-constast-active: var(--ergo-primary-text-constast);

  --ergo-disabled-color:               @light-color-gray-3;
  --ergo-disabled-text-constrast:      @light-color-gray-6;

  --ergo-error-color:                  @light-color-dust-red-5;
  --ergo-error-color-hover:            @light-color-dust-red-4;
  --ergo-error-color-active:           @light-color-dust-red-6;
  --ergo-error-text-constast:          var(--ergo-primary-text-constast);
  --ergo-error-text-constast-hover:    var(--ergo-primary-text-constast-hover);
  --ergo-error-text-constast-active:   var(--ergo-primary-text-constast-active);

  --ergo-default-background:           @light-color-gray-7;
  --ergo-default-card-background:      @light-color-gray-1;
  --ergo-dark-card-background:         @light-color-gray-2;
  --ergo-ghost-background:             rgba(255, 255, 255, .35);
  --ergo-default-border-color:         @light-color-gray-5;
  --ergo-primary-text:                 @light-color-gray-9;

  // Alert
  --alert-success-border-color:         @light-color-green-3;
  --alert-success-bg-color:             @light-color-green-1;
  --alert-success-icon-color:           @light-color-green-6;

  --alert-info-border-color:            @light-color-blue-3;
  --alert-info-bg-color:                @light-color-blue-1;
  --alert-info-icon-color:              @light-color-blue-6;

  --alert-warning-border-color:         @light-color-gold-3;
  --alert-warning-bg-color:             @light-color-gold-1;
  --alert-warning-icon-color:           @light-color-gold-6;

  --alert-error-border-color:           @light-color-dust-red-3;
  --alert-error-bg-color:               @light-color-dust-red-1;
  --alert-error-icon-color:             @light-color-dust-red-6;

  --alert-message-color:                @light-color-gray-9;
  --alert-close-color:                  @light-color-gray-7;

  // Slider
  --ergo-slider-rail-bg: @light-color-gray-4;
  --ergo-slider-track-bg: var(--ergo-primary-color);

  --ergo-slider-handle-bg: var(--ergo-default-card-background);
  --ergo-slider-handle-bg-hover: var(--ergo-default-card-background);
  --ergo-slider-handle-border: var(--ergo-primary-color);
  --ergo-slider-handle-border-hover: var(--ergo-primary-color-hover);

  --ergo-slider-dot-bg: var(--ergo-default-card-background);
  --ergo-slider-dot-border: @light-color-gray-5;
  --ergo-slider-dot-active-bg: var(--ergo-slider-track-bg);
  --ergo-slider-dot-active-border: var(--ergo-slider-track-bg);

  --ergo-slider-disabled: @light-color-gray-4;
  --ergo-slider-disabled-contrast: var(--ergo-disabled-text-constrast);
}
