@import "~@ergolabs/ui-kit/dist/styles/variables.light";

.light {
  .lightTheme();
  --spectrum-logo-color:             var(--spectrum-primary-color);
  --spectrum-asset-box-border-color: #f0f0f0;
  --spectrum-claim-spf-background:   #dcdaff;
  --spectrum-claim-spf-notifcation-background: #aba5fc;
}

