.tokens-tab {
  padding: 7px;
  background-color: var(--ergo-box-bg);
  border-radius: var(--ergo-border-radius-md);

  &__icon {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
  }

  &__text {
    color: #757575 !important;
    font-size: var(--ergo-border-radius-sm) !important;
  }

  &__balance {
    color: #757575 !important;
  }
}
