.tokens-tab {
  background-color: var(--ergo-box-bg);
  padding: 7px;
  border-radius: var(--ergo-border-radius-md);


  &__icon {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__text {
    font-size: var(--ergo-border-radius-sm) !important;
    color: #757575 !important;
  }

  &__balance {
    color: #757575 !important;
  }
}
