.stick-button {
  position: relative;

  &__btn {
    position:  absolute;
    z-index:   1;
    top:       calc(50% - 4px);
    left:      50%;
    transform: translate(-50%, -50%);

    &--stick {
      border-color: var(--ergo-primary-color);
      color: var(--ergo-primary-color);

      &:hover, &:focus {
        border-color: var(--ergo-primary-color);
        color: var(--ergo-primary-color);
      }
    }
  }
 }
