@import './colors/colors.light';

.defaultTheme () {
  // Geometry
  --ergo-border-radius-lg:             12px;
  --ergo-border-radius-md:             12px;
  --ergo-border-radius-sm:             12px;
  --ergo-border-radius:                var(--ergo-border-radius-lg);

  // Color
  --ergo-primary-color:                @light-color-orange-6;
  --ergo-primary-color-hover:          @light-color-orange-5;
  --ergo-primary-color-active:         @light-color-orange-7;
  --ergo-primary-text-constast:        @light-color-gray-1;
  --ergo-primary-text-constast-hover:  var(--ergo-primary-text-constast);
  --ergo-primary-text-constast-active: var(--ergo-primary-text-constast);

  --ergo-disabled-color:               @light-color-gray-3;
  --ergo-disabled-text-constrast:      @light-color-gray-6;

  // Info
  --ergo-info-color:                   @light-color-blue-5;
  --ergo-info-color-hover:             @light-color-blue-4;
  --ergo-info-color-active:            @light-color-blue-6;
  --ergo-info-border-color:            @light-color-blue-3;
  --ergo-info-bg-color:                @light-color-blue-1;
  --ergo-info-icon-color:              var(--ergo-info-color-active);

  // Success
  --ergo-success-color:                @light-color-green-5;
  --ergo-success-color-hover:          @light-color-green-4;
  --ergo-success-color-active:         @light-color-green-6;
  --ergo-success-border-color:         @light-color-green-3;
  --ergo-success-bg-color:             @light-color-green-1;
  --ergo-success-icon-color:           var(--ergo-success-color-active);

  // Warning
  --ergo-warning-color:                @light-color-gold-5;
  --ergo-warning-color-hover:          @light-color-gold-4;
  --ergo-warning-color-active:         @light-color-gold-6;
  --ergo-warning-border-color:         @light-color-gold-3;
  --ergo-warning-bg-color:             @light-color-gold-1;
  --ergo-warning-icon-color:           var(--ergo-warning-color-active);

  // Error
  --ergo-error-color:                  @light-color-dust-red-5;
  --ergo-error-color-hover:            @light-color-dust-red-4;
  --ergo-error-color-active:           @light-color-dust-red-6;
  --ergo-error-border-color:           @light-color-dust-red-3;
  --ergo-error-bg-color:               @light-color-dust-red-1;
  --ergo-error-icon-color:             var(--ergo-error-color-active);

  --ergo-error-text-constast:          var(--ergo-primary-text-constast);
  --ergo-error-text-constast-hover:    var(--ergo-primary-text-constast-hover);
  --ergo-error-text-constast-active:   var(--ergo-primary-text-constast-active);

  --ergo-default-background:           @light-color-gray-7;
  --ergo-default-card-background:      @light-color-gray-1;
  --ergo-dark-card-background:         @light-color-gray-2;
  --ergo-ghost-background:             rgba(255, 255, 255, .35);
  --ergo-default-border-color:         @light-color-gray-5;
  --ergo-primary-text:                 @light-color-gray-9;

  // Slider
  --ergo-slider-rail-bg: @light-color-gray-4;
  --ergo-slider-track-bg: var(--ergo-primary-color);

  --ergo-slider-handle-bg: var(--ergo-default-card-background);
  --ergo-slider-handle-bg-hover: var(--ergo-default-card-background);
  --ergo-slider-handle-border: var(--ergo-primary-color);
  --ergo-slider-handle-border-hover: var(--ergo-primary-color-hover);

  --ergo-slider-dot-bg: var(--ergo-default-card-background);
  --ergo-slider-dot-border: @light-color-gray-5;
  --ergo-slider-dot-active-bg: var(--ergo-slider-track-bg);
  --ergo-slider-dot-active-border: var(--ergo-slider-track-bg);

  --ergo-slider-disabled: @light-color-gray-4;
  --ergo-slider-disabled-contrast: var(--ergo-disabled-text-constrast);

  // Menu
  --ant-menu-item-active-background:      @light-color-gray-3;
  --ant-dropdown-menu-background:         @light-color-gray-1;
  --ant-dropdown-menu-item-not-disable:   @light-color-gray-9;
  --ant-dropdown-menu-item-disable:       @light-color-gray-3;
  --ant-dropdown-menu-item-danger:        @light-color-dust-red-6;
  --ant-dropdown-menu-item-hover-bg:      @light-color-gray-3;
  --ant-dropdown-menu-item-hover-color:   @light-color-orange-6;

  // Input
  --ergo-input-bg: @light-color-gray-1;
  --ergo-input-box-shadow: 0 0 4px rgba(255, 114, 92, 0.5);
  --ergo-input-color-hover: var(--ergo-primary-color-hover);
  --ergo-input-color-active: @light-color-orange-6;
  --ergo-input-placeholder-color: @light-color-gray-7;
  --ergo-input-error-box-shadow: 0 0 4px rgba(245, 34, 45, 0.5);
  --ergo-input-warning-box-shadow: 0 0 4px rgba(250, 173, 20, 0.5);
}
