.swapInputStyles () {
  height: 100%;
  border-color: transparent;
  background-color: var(--ergo-swap-input-bg);
  border-radius: 12px;
  box-shadow: none !important;
}

.swap-input {
  width: 100%;
  margin-right: 10px;
  
  .ant-input {
    .swapInputStyles();
    font-size: 24px !important;
    font-weight: 600 !important;
  }

  .ant-input-affix-wrapper {
    .swapInputStyles();

    .ant-input {
      padding-left: 1px;
    }
    
    .ant-input-suffix {
      color: var(--ergo-primary-text);
    }
  }
}
