.ant-btn.ant-btn-primary {
  &.token-select {
    &:hover,
    &:focus {
      border: 1px solid var(--ergo-tokenselect-hover-bg);
      background: var(--ergo-tokenselect-hover-bg);
      color: var(--ergo-primary-text-contrast-hover);
    }
  }
}

.token-select_active {
  padding: 8px 12px;
  border: 0;
  background-color: var(--ergo-tokenselect-active-background);
  border-radius: 12px;
  box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05), 0 6px 16px rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12);
  color: var(--ergo-tokenselect-active-color);
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;

  &_container {
    display: flex;
    align-items: center;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: var(--ergo-tokenselect-active-hover-bg);
  }

  &_item {
    margin-right: 8px;
  }
}
