@light-color-gray-05:      #0d0d0d;
@light-color-gray-1:       #fff;
@light-color-gray-2:       #fafafa;
@light-color-gray-3:       #f5f5f5;
@light-color-gray-4:       #f0f0f0;
@light-color-gray-5:       #d9d9d9;
@light-color-gray-6:       #bfbfbf;
@light-color-gray-7:       #8c8c8c;
@light-color-gray-8:       #595959;
@light-color-gray-9:       #262626;
@light-color-gray-10:      #000;

@light-color-blue-1:       #111d2c;
@light-color-blue-2:       #112a45;
@light-color-blue-3:       #15395b;
@light-color-blue-4:       #164c7e;
@light-color-blue-5:       #1765ad;
@light-color-blue-6:       #177ddc;
@light-color-blue-7:       #3c9ae8;
@light-color-blue-8:       #65b7f3;
@light-color-blue-9:       #8dcff8;
@light-color-blue-10:      #b7e3fa;

@light-color-dust-red-1:   #fff1f0;
@light-color-dust-red-2:   #ffccc7;
@light-color-dust-red-3:   #ffa39e;
@light-color-dust-red-4:   #ff7875;
@light-color-dust-red-5:   #ff4d4f;
@light-color-dust-red-6:   #f5222d;
@light-color-dust-red-7:   #cf1322;
@light-color-dust-red-8:   #a8071a;
@light-color-dust-red-9:   #820014;
@light-color-dust-red-10:  #5c0011;

@light-color-volcano-1:    #2b1611;
@light-color-volcano-2:    #441d12;
@light-color-volcano-3:    #592716;
@light-color-volcano-4:    #7c3118;
@light-color-volcano-5:    #aa3e19;
@light-color-volcano-6:    #d84a1b;
@light-color-volcano-7:    #e87040;
@light-color-volcano-8:    #f3956a;
@light-color-volcano-9:    #f8b692;
@light-color-volcano-10:   #fad4bc;

@light-color-orange-1:     #ffedeb;
@light-color-orange-2:     #ffdcd6;
@light-color-orange-3:     #ffb8ad;
@light-color-orange-4:     #ff9585;
@light-color-orange-5:     #ff725c;
@light-color-orange-6:     #ff5135;
@light-color-orange-7:     #ff2b0a;
@light-color-orange-8:     #e01e00;
@light-color-orange-9:     #b81800;
@light-color-orange-10:    #8f1300;

@light-color-sunset-1:     #2b1d11;
@light-color-sunset-2:     #442a11;
@light-color-sunset-3:     #593815;
@light-color-sunset-4:     #7c4a15;
@light-color-sunset-5:     #aa6215;
@light-color-sunset-6:     #d87a16;
@light-color-sunset-7:     #e89a3c;
@light-color-sunset-8:     #f3b765;
@light-color-sunset-9:     #f8cf8d;
@light-color-sunset-10:    #fae3b7;

@light-color-gold-1:       #2b2111;
@light-color-gold-2:       #443111;
@light-color-gold-3:       #594214;
@light-color-gold-4:       #7c5914;
@light-color-gold-5:       #aa7714;
@light-color-gold-6:       #d89614;
@light-color-gold-7:       #e8b339;
@light-color-gold-8:       #f3cc62;
@light-color-gold-9:       #f8df8b;
@light-color-gold-10:      #faedb5;

@light-color-yellow-1:     #2b2611;
@light-color-yellow-2:     #443b11;
@light-color-yellow-3:     #595014;
@light-color-yellow-4:     #7c6e14;
@light-color-yellow-5:     #aa9514;
@light-color-yellow-6:     #d8bd14;
@light-color-yellow-7:     #e8d639;
@light-color-yellow-8:     #f3ea62;
@light-color-yellow-9:     #f8f48b;
@light-color-yellow-10:    #fafab5;

@light-color-lime-1:       #1f2611;
@light-color-lime-2:       #2e3c10;
@light-color-lime-3:       #3e4f13;
@light-color-lime-4:       #536d13;
@light-color-lime-5:       #6f9412;
@light-color-lime-6:       #8bbb11;
@light-color-lime-7:       #a9d134;
@light-color-lime-8:       #c9e75d;
@light-color-lime-9:       #e4f88b;
@light-color-lime-10:      #f0fab5;

@light-color-green-1:      #162312;
@light-color-green-2:      #1d3712;
@light-color-green-3:      #274916;
@light-color-green-4:      #306317;
@light-color-green-5:      #3c8618;
@light-color-green-6:      #49aa19;
@light-color-green-7:      #6abe39;
@light-color-green-8:      #8fd460;
@light-color-green-9:      #d5f2bb;
@light-color-green-10:     #d5f2bb;

@light-color-cyan-1:       #112123;
@light-color-cyan-2:       #113536;
@light-color-cyan-3:       #144848;
@light-color-cyan-4:       #146262;
@light-color-cyan-5:       #138585;
@light-color-cyan-6:       #13a8a8;
@light-color-cyan-7:       #33bcb7;
@light-color-cyan-8:       #58d1c9;
@light-color-cyan-9:       #84e2d8;
@light-color-cyan-10:      #b2f1e8;

@light-color-geek-blue-1:  #131629;
@light-color-geek-blue-2:  #161d40;
@light-color-geek-blue-3:  #1c2755;
@light-color-geek-blue-4:  #203175;
@light-color-geek-blue-5:  #263ea0;
@light-color-geek-blue-6:  #2b4acb;
@light-color-geek-blue-7:  #5273e0;
@light-color-geek-blue-8:  #7f9ef3;
@light-color-geek-blue-9:  #a8c1f8;
@light-color-geek-blue-10: #d2e0fa;

@light-color-purple-1:     #1a1325;
@light-color-purple-2:     #24163a;
@light-color-purple-3:     #301c4d;
@light-color-purple-4:     #3e2069;
@light-color-purple-5:     #51258f;
@light-color-purple-6:     #642ab5;
@light-color-purple-7:     #854eca;
@light-color-purple-8:     #ab7ae0;
@light-color-purple-9:     #cda8f0;
@light-color-purple-10:    #ebd7fa;

@light-color-magenta-1:    #291321;
@light-color-magenta-2:    #40162f;
@light-color-magenta-3:    #551c3b;
@light-color-magenta-4:    #75204f;
@light-color-magenta-5:    #a02669;
@light-color-magenta-6:    #cb2b83;
@light-color-magenta-7:    #e0529c;
@light-color-magenta-8:    #f37fb7;
@light-color-magenta-9:    #f8a8cc;
@light-color-magenta-10:   #fad2e3;

@light-color-extra-bg-1:   #000c17;
@light-color-extra-bg-2:   #001529;
@light-color-extra-bg-3:   #f0f2f5;
@light-color-extra-bg-4:   #1e1e1e;
