.dark {
  .icons {
    margin-top: 10px;
    margin-bottom: 10px;
    span {
      padding: 5px;
    }
    .anticon {
      color: #dbdbdb;
    }
  }    
}

.light {
  .icons {
    margin-top: 10px;
    margin-bottom: 10px;
    span {
      padding: 5px;
    }
    .anticon {
      color: #262626;
    }
  }    
}
