.ant-notification-topRightBackward {
  z-index: 10;
  top: 64px !important;
  margin-right: 16px;
}

.ant-notification-notice.spf-ido {
  width: 320px;
  height: 268px;
  padding: 0;
  border-radius: 16px;

  .ant-notification-notice-message {
    padding-right: 0;
    margin: 0;
  }

  .ant-notification-notice-btn {
    display: none;
  }
}
