.copy-button {
  width: initial;
  height: initial;
  padding: 0 !important;
  border: 0 !important;
  line-height: 0 !important;

  &:hover,&:focus {
    background: 0 !important;
    color: var(--spectrum-primary-color) !important;
  }

  &--with-children {
    display: flex;
    align-items: center;

    svg {
      margin-right: 4px;
    }
  }
}
