@import "~@ergolabs/ui-kit/dist/styles/styles";
@import './themes/dark.less';
@import './themes/light.less';
@import './variables/gradients.less';

html {
  overflow:   hidden;
  width:      100vw;
  height:     100vh;
}

body {
  overflow:   hidden;
  width:      100%;
  height:     100%;
  background-color: var(--spectrum-body-bg);
}

.grecaptcha-badge {
  visibility: hidden;
}

* {
  box-sizing: border-box !important;
}

*::before, *::after {
  box-sizing: border-box !important;
  transition: none !important;
}

*::-webkit-scrollbar {
  width:  6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border:           1px solid var(--spectrum-scroll-border);
  background-color: var(--spectrum-scroll-bg);
  border-radius:    var(--spectrum-border-radius-sm);
  cursor:           pointer;
}

.ant-click-animating-node {
  display:    none !important;
  box-shadow: none !important;
}

[ant-click-animating-without-extra-node='true']::after,
.ant-click-animating-node {
  --antd-wave-shadow-color: var(--spectrum-primary-color) !important;
}

::selection {
  background-color: var(--spectrum-primary-color) !important;
  color:            var(--spectrum-primary-text) !important;
}

.ergodex-coming-soon {
  &::after {
    position:      relative;
    top:           -2px;
    right:         80px;
    padding:       1px 8px;
    border:        1px solid var(--spectrum-tab-disabled-border-color);
    background:    var(--spectrum-tab-disabled-color);
    border-radius: 4px;
    content:       'Coming soon';
    font-size:     8px;
    line-height:   12px;
    transform:     translate(calc(100% + 6px), -4px);
  }
}

//.ant-picker-cell {
//  // >>> Hover
//  &:hover:not(&-in-view),
//  &:hover:not(&-selected):not(&-range-start):not(&-range-end):not(&-range-hover-start):not(&-range-hover-end) {
//      background: var(--spectrum-primary-color);
//  }
//
//  // >>> In Range
//  &-in-view&-in-range {
//    &::before {
//      background: var(--spectrum-primary-color);
//    }
//  }
//
//  //// >>> Selected
//  &-in-view&-selected .ant-picker-cell,
//  &-in-view&-range-start .ant-picker-cell,
//  &-in-view&-range-end .ant-picker-cell {
//    //color: @text-color-inverse;
//    background: var(--spectrum-primary-color);
//  }
//
//  &-in-view&-range-start:not(&-range-start-single),
//  &-in-view&-range-end:not(&-range-end-single) {
//    &::before {
//      background: var(--spectrum-primary-color);
//    }
//  }
//
//  // >>> Range Hover
//  &-in-view&-range-hover-start:not(&-in-range):not(&-range-start):not(&-range-end),
//  &-in-view&-range-hover-end:not(&-in-range):not(&-range-start):not(&-range-end),
//  &-in-view&-range-hover-start&-range-start-single,
//  &-in-view&-range-hover-start&-range-start&-range-end&-range-end-near-hover,
//  &-in-view&-range-hover-end&-range-start&-range-end&-range-start-near-hover,
//  &-in-view&-range-hover-end&-range-end-single,
//  &-in-view&-range-hover:not(&-in-range) {
//    &::after {
//      border-top-color: var(--spectrum-primary-color);
//      border-bottom-color: var(--spectrum-primary-color);
//    }
//  }
//
//  // Hover with in range
//  &-in-view&-in-range&-range-hover::before,
//  &-in-view&-range-start&-range-hover::before,
//  &-in-view&-range-end&-range-hover::before,
//  &-in-view&-range-start:not(&-range-start-single)&-range-hover-start::before,
//  &-in-view&-range-end:not(&-range-end-single)&-range-hover-end::before,
//  &-in-view&-in-range&-range-hover-start::before,
//  &-in-view&-in-range&-range-hover-end::before {
//    background: var(--spectrum-primary-color-hover) !important;
//  }
//}
//
//.datepicker {
//  width: 100%;
//}

.w-full {
  width: 100%;
}
