

.header {
    height: 70px;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    background: var(--teddy-dark-color-container);
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    .navigationSection {
      display: flex;
      align-items: center;
      gap: 24px;
      width: calc(100% - 550px);
    }

    .walletSection {
      display: flex;
      gap: 5px;
      width: 550px;
      justify-content: flex-end;
    }
    @media (max-width: 1030px) {
      .navigationSection {
        gap: 16px;
      }
    }
    @media (max-width: 380px) {
      padding-inline: 8px;
    }
}
