.ant-progress-container {
  position: relative;
  width: 100%;
}

.ant-progress-inner {
  background-color: var(--ergo-box-bg-contrast);
  border-radius: 12px;
}

.ant-progress-bg {
  background: var(--ergo-progress-bg-color);
  border-radius: 12px;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
