

.ergo-flex {
  display: flex !important;
  .spectrum-box {
    overflow: hidden !important;
    margin-inline: auto !important;
    &.box-item-content {
      background-color: #454e6070 !important;
      &:hover{
          background-color: var(--teddy-primary-color-hover) !important;
      }
    }
  }
}


