.token-input {
  width: 100%;
  padding: 16px;
  background-color: var(--ergo-token-input-bg);
  border-radius: 16px;
  
  &__label {
    color: var(--ergo-token-input-label-color) !important;
  }

  &__select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .ant-space-item:first-child {
      width: 100%;
    }
  }

  &__bottom {
    height: 22px;
    
    &-usd-price {
      color: var(--ergo-primary-color) !important;
    }
  }
}
