.dark {
  --primary-color: #ff5135;
  --primary-color-hover: #ff725c;
  --primary-color-active: #ff725c;
  --disabled-color: #262626;

  --btn-primary-color: #fff;
  --btn-primary-bg: #ff5135;
  --btn-default-color: #dbdbdb;
  --btn-default-bg: #141414;
  --btn-default-border: #434343;
  --btn-danger-bg: #d32029;
  --btn-text-hover-bg: #1d1d1d;
  --btn-disable-color: #5a5a5a;
  --btn-disable-bg: #262626;
  --btn-disable-border: transparent;
  --btn-default-ghost-bg: #141414;
}
